* {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  box-sizing: border-box;
}

.main-contain {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.project-container {
  min-width: 500px;
  padding: 2rem 3rem 3rem;
  background-color: #ff6666;
  color: #fff;
  box-shadow: 5px 5px 0px 0px rgba(100, 100, 100, 0.1);
}

.title {
  margin: 2rem 0;
  font-weight: normal;
  font-size: 2.6rem;
  letter-spacing: 0.2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.title > span {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.7rem;
  margin-left: 3px;
  margin-top: 0.2rem;
}

.task-list {
  list-style: none;
}

.task-list li {
  display: flex;
  margin: 0 -3rem 4px;
  margin-left: 0px;
  padding: 1.1rem 3rem;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  transition: all 0.5s ease;
  transform-origin: top left;
}

.fall {
  rotate: 30deg;
  opacity: 0;
}

.task-list li span {
  transition: opacity 0.2s linear;
}

.task-list li.done span {
  opacity: 0.5;
  text-decoration: line-through;
}

.task-list .action {
  flex-shrink: 0;
  padding-left: 0.7em;
}

.btn-action {
  border: none;
  background: none;
  cursor: pointer;
  color: #fff;
  height: 1.2rem;
  width: 1.2rem;
  position: relative;
  top: 3px;
  margin: 3px 4px 4px 4px;
}

.task-list .btn-action-delete {
  position: relative;
  top: -2px;
}

.togglebutton-wrapper {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}

.task-filter {
  position: relative;
  top: -3px;
}

.form-todo-list {
  margin-top: 3rem;
}

.form-todo-list > label {
  margin-bottom: 0.5rem;
  display: block;
  font-size: 1.3rem;
}

.input-contain {
  display: flex;
  justify-content: space-between;
}

.input-contain #input-todo-list {
  font-family: "Quicksand", sans-serif;
  height: 3rem;
  flex-grow: 1;
  background: #f7f1f1;
  padding: 0 1.5em;
  font-size: initial;
  border: none;
}

.input-contain .btn-form {
  padding: 0 1.3rem;
  background: #ff6666;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-left: 5px;
  cursor: pointer;
  transition: background 0.2s ease-out;
}

.input-contain .btn-form:hover {
  filter: brightness(110%);
}
